.error-container {
  display: grid;
  grid-template-columns: 0.1fr 0.8fr 0.1fr;
  grid-template-areas:
    "leftPad heading rightPad"
    "leftPad error rightPad";
  height: 80vh;
}

.error-container > h2 {
  grid-area: heading;
  justify-self: center;
  align-self: end;
}

.error-container > p {
  grid-area: error;
}
