.head {
  background: rgba(25, 25, 25, 0.8);
  margin-bottom: 1.45rem;
}

.home-link {
  color: white;
  text-decoration: none;
}

.contents {
  display: grid;
  grid-template-areas: "logo nav";
  grid-template-columns: 0.5fr 0.5fr;
  height: 60px;
}
.home {
  grid-area: logo;
  align-self: center;
  justify-self: start;
  margin: 0px;
  padding-left: 20px;
  font-size: 1.5em;
}

.home-link:hover {
  color: #ccc;
}

.nav {
  grid-area: nav;
  font-size: 2em;
  align-self: center;
  align-items: end;
  padding-right: 20px;
  margin: 0px;
}

@media only screen and (max-width: 800px) {
  .contents {
    grid-template-columns: 1fr;
    grid-template-rows: 60px 40px;
    grid-template-areas: "logo" "nav";
    height: 100px;
  }
  .home {
    justify-self: center;
    align-self: center;
    margin-top: 10px;
    padding-left: 0px;
  }
  .nav {
    align-self: center;
    padding-right: 0px;
  }
}
