.portfolio {
  display: grid;
  grid-gap: 10px;
  padding-left: 10%;
  padding-right: 10%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* justify-content: center; */
  padding-bottom: 40px;
}
.portfolio-page > h2 {
  text-align: center;
}

.portfolio-piece {
  display: grid;
  justify-items: center;
  padding-bottom: 40px;
}
