.head {
  background: rgba(25, 25, 25, 0.8);
  margin-bottom: 1.45rem;
}

h1 {
  margin: 0;
}

.contents {
  margin: 0 auto;
  padding: 1rem 2rem;
}

.home-link {
  color: white;
  text-decoration: none;
}
