@import url("https://fonts.googleapis.com/css?family=Amethysta|Roboto:300,400");
/* autoprefixer: off */

.contact {
  height: 95vh;
  background-color: rgba(25, 25, 25, 0.8);
  color: white;
}

.footer {
  background-color: white;
  text-align: center;
  height: 5vh;
  color: black;
}

html {
  font-family: "Roboto", Sans-serif;
}

body {
  margin: 0;
}
